:root {
  color: #18211d;
  background: #edf2ea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: #edf2ea;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
